<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

	<div class="thumbnail col-xs-5">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda esse ipsum optio cum quae temporibus velit, delectus cumque voluptate nam tempora debitis natus reiciendis! Commodi eum neque, aperiam quia incidunt!</p>
	</div>
	<div class="thumbnail col-xs-5">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora iure ullam distinctio placeat cupiditate suscipit tempore esse exercitationem, in consectetur, eligendi officia est reiciendis accusamus maiores mollitia aperiam necessitatibus dolorum.</p>
	</div>
	<div class="thumbnail col-xs-3">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda esse ipsum optio cum quae temporibus velit, delectus cumque voluptate nam tempora debitis natus reiciendis! Commodi eum neque, aperiam quia incidunt!</p>
	</div>
	<div class="thumbnail col-xs-4">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora iure ullam distinctio placeat cupiditate suscipit tempore esse exercitationem, in consectetur, eligendi officia est reiciendis accusamus maiores mollitia aperiam necessitatibus dolorum.</p>
	</div>
	<div class="thumbnail col-xs-3">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda esse ipsum optio cum quae temporibus velit, delectus cumque voluptate nam tempora debitis natus reiciendis! Commodi eum neque, aperiam quia incidunt!</p>
	</div>
	<div class="thumbnail col-xs-2">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora iure ullam distinctio placeat cupiditate suscipit tempore esse exercitationem, in consectetur, eligendi officia est reiciendis accusamus maiores mollitia aperiam necessitatibus dolorum.</p>
	</div>
	<div class="thumbnail col-xs-4">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda esse ipsum optio cum quae temporibus velit, delectus cumque voluptate nam tempora debitis natus reiciendis! Commodi eum neque, aperiam quia incidunt!</p>
	</div>
	<div class="thumbnail col-xs-4">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora iure ullam distinctio placeat cupiditate suscipit tempore esse exercitationem, in consectetur, eligendi officia est reiciendis accusamus maiores mollitia aperiam necessitatibus dolorum.</p>
	</div>